.login-container{
    /* background-color: white;  this is managed by theme manager*/
    border-radius: var(--main_radius);
    min-width:45rem;
    height: 25rem;
    margin: 0 2rem;
    display: grid;
    grid-template-columns: .2fr 2fr 1fr;
    grid-template-rows: .2fr 1fr .2fr;
    grid-template-areas: "auth-logo login-form  auth-extra"
                        ". login-form auth-extra"
                        ". error-message error-message";
}

.auth-logo{
    grid-area: auth-logo;
    display: flex;
    align-items: center;
    justify-content: center;
}
.auth-logo>img{
    width: 3rem;
    height: 3rem;
    padding: 5px 0;
    margin-left: 5px;    
}

.login-form{
    grid-area: login-form;
    margin-left:12rem;
    margin-right: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
}

.login-form > img{
    height:3.5rem;
    margin-top: auto;
}
.login-inputs{
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: flex;
    
    
}
.input-auth-container{
    display: flex;
    margin: auto;
}
.icon-auth{
    height: 100%;
    width: 3rem;
    
}
.input-auth{
    /* background-color: var(--col_veryLight_blue); */
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    /* color: var(--col_dark_blue); */
    
}
.input-auth::placeholder{
    opacity: 80%;
}
.btns-auth-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    
}
.btns-auth-container-p{
    
    font-size: small;
    color: var(--col_blue);
    cursor: pointer;
    
}
.btn-auth{
    display: flex;
    background-color: var(--col_veryLight_blue);
    height: 3rem;
    width: fit-content;
    padding-right: 15px;
    align-items: center;
    color: var(--col_blue);
    border-radius: 5px;
    box-shadow: 0 0 .5rem  var(--col_gray);
    cursor: pointer;
}
.btn-auth > img{
    height: 50%;
    margin-left: 15px;
    margin-right: 10px;
}
.btn-auth:hover{
    background-color: var(--col_blue) !important;
    color: var(--col_white) !important;
}

.error-message{
    grid-area: error-message;
    color: var(--col_red);
    justify-self: center;
    margin-top: 10px;
    text-align: center;
    /* border: 1px solid red; */
    
}
.auth-extra{
    
    grid-area: auth-extra;
    display: flex;
    flex-direction: column;
    

    
}
.drawer{
    /* border: 1px solid; */
    
    width: 100%;
    height: 4rem;
    margin-top: 1.5rem;
    overflow: hidden;
    
    position: relative;
    
}
.drawer-logo{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 2rem;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    background-color: var(--col_unclear_white);
    box-shadow: 0 0 .3rem rgba(0,0,0,.2);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: box-shadow ease-out .25s;
    cursor: pointer;
}

.drawer-content{
    /* border: 1px solid;  */
    /* border: 1px solid; */
    
    position: absolute;
    z-index: 0;
    background-color: var(--col_unclear_white);
    border-radius: 20px 0 0 20px;
    
    right: 3rem;
    top: 0;
    bottom: 0;
    /* this is controlled in CompAuth.js to show or hide the drawer */
    left: auto;
    padding-right: 3rem;
    
    margin-top: auto;
    margin-bottom: auto;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    opacity: 0;
    transition: all .2s;
}

.drawer-icon{
    height: 50%;
    width: 50%;
}
.drawer-btn>p{
    font-size: large;
    font-weight: 600;
    color: var(--col_blue);

}
.drawer-btn:first-child>p{
    margin-bottom: auto;
    margin-top: .1rem;
}
.drawer-btn{
    width: 2rem;
    height: 2rem;
    margin-left: .5rem;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 .3rem rgba(0,0,0,.15);

    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
}

.drawer-logo:hover{
    box-shadow: 0 0 .8rem rgba(0,0,0,.25);
}
.drawer-btn:hover{
    background-color: var(--col_veryLight_blue);
}





    